* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.producto {
  height: 270vh;
  background-color: #1b1b1b;
}

.infoProduct {
  color: #fff;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.titulo1 {
  font-size: 2.5rem;
  padding: 2rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulo2 {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 2rem;
}

.panel{
  width: 16rem;
  height: 16rem; 
  border-radius: 1rem;
}
.container {
  display: flex;
  width: 100%;
  height: 200vh;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4rem;
  align-content: space-around;
}
.parrafo1 {
  font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 0.9rem;
    margin-top: 1rem;

}
@media (min-width: 320px) and (max-width: 425px) {

/* .producto */
.producto {
  height: 610vh;
  width: 100%;
  background-color: #1b1b1b;
}
.infoProduct {
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.panel {
  width: 8rem;
  height: 10rem;
}
.container {
  margin-top: 40rem;
}
.box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
}
@media (min-width: 425px) and (max-width: 767px) {
  
/* .producto */
.producto {
  height: 580vh;
  width: 100%;
  background-color: #1b1b1b;
}
.infoProduct {
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.panel {
  width: 12rem;
  height: 10rem;
  
}


}
@media (min-width: 767px) and (max-width: 1024px) {
  .producto {
    height: 320vh;
    width: 100%;
    background-color: #1b1b1b;
  }
  .infoProduct {
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  .container {
    margin-top: 2rem;
  }
  .panel {
    width: 7rem;
    height: 8rem;
    margin-left: 2rem;
    
  }
  .parrafo1 {
    width: 10rem;
    text-align: center;
    margin-right: 2rem;
  }
}