* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inicio {
    position: relative;
    height: 320vh;
    background-color: #1b1b1b;
}

.titulo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.titulo-principal {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

.slide2,
.slide3 {
    width: 100%;
    height: 540px;
    object-fit: cover;
}

.slide1 {
    object-fit: cover;
    width: 100%;
    height: 540px;
}


.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
}

.texto1 {
    font-weight: bold;
}

.segundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido {
    display: flex;
    align-items: center;
}

.imagen {
    flex: 1;
}

.imagen img {
    width: 25rem;
    height: 20rem;
    transition: transform 0.3s ease;
    margin-left: 4rem;
    margin-top: 2rem;
}

.texto {
    flex: 1;
    padding: 1rem;
    color: #fff;
}


.imagen:hover img {
    transform: scale(1.1);
}

.infoPaneles {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.energiaSolar {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
}

.queEs {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.energiaSolarInfo {
    display: flex;
    padding: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.imgWhats {
    width: 4rem;
    height: 4rem;
}
.energiaSolarList {
    list-style-type: circle;
    margin: 1.2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
  }
  

@media (min-width: 320px) and (max-width: 425px) {
    .inicio {
        position: relative;
        height: auto;
        background-color: #1b1b1b;
    }

    .titulo {
        position: static;
        transform: none;
        text-align: center;
        z-index: 1;
    }

    .titulo-principal {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    .subtitulo {
        font-size: 1.2rem;
    }

    .slide2,
    .slide3 {
        height: 320px;
    }

    .slide1 {
        height: 320px;
    }

    .carousel-caption {
        position: static;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
    }

    .texto1 {
        font-weight: bold;
        font-size: 1rem;
    }

    .segundo {
        align-items: center;

    }

    .contenido {
        flex-direction: column;
    }

    .imagen {
        flex: none;
    }

    .imagen img {
        width: 15rem;
        height: 12rem;
        margin: 1rem 0;
    }

    .texto {
        padding: 0.5rem;
    }

    .infoPaneles {
        font-size: 1rem;
        margin: 1rem;
    }

    .energiaSolar {
        margin-top: 4rem;
    }

    .queEs {
        font-size: 2rem;
    }

    .energiaSolarInfo {
        padding: 1.5rem;
        font-size: 1rem;
    }

    .whatsapp-float {
        bottom: 10px;
        right: 10px;
    }

    .imgWhats {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .inicio {
        height: 420vh;
        width: 100%;
    }

    .titulo {
        top: 10%;
        position: static;
        transform: none;
        text-align: center;
        z-index: 1;
    }

    .titulo-principal {
        font-size: 2.5rem;
    }

    .subtitulo {
        font-size: 1rem;
    }

    .slide2,
    .slide3 {
        height: 300px;
    }

    .slide1 {
        height: 300px;
    }

    .carousel-caption {
        padding: 10px;
    }

    .texto1 {
        font-size: 1rem;
    }

    .segundo {
        margin-top: 2rem;
        padding: 1rem;
    }

    .imagen img {
        width: 15rem;
        height: 12rem;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    .texto {
        padding: 0.5rem;
    }

    .infoPaneles {
        font-size: 0.9rem;
        margin: 1rem;
    }

    .energiaSolar {
        margin-top: 4rem;
        padding: 1rem;
    }

    .queEs {
        font-size: 2rem;
    }

    .energiaSolarInfo {
        padding: 1rem;
        font-size: 0.9rem;
    }

    .imgWhats {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .inicio {
        height: 455vh;
    }

    .titulo {
        position: static;
        transform: none;
        text-align: center;
        z-index: 1;
    }

    .titulo-principal {
        font-size: 3rem;
    }

    .subtitulo {
        font-size: 1.2rem;
    }

    .slide2,
    .slide3 {
        height: 450px;
    }

    .slide1 {
        height: 450px;
    }

    .carousel-caption {
        padding: 15px;
    }

    .texto1 {
        font-size: 1.2rem;
    }

    .segundo {
        margin-top: 3rem;
    }

    .imagen img {
        width: 20rem;
        height: 16rem;
        margin-left: 3rem;
        margin-top: 1.5rem;
    }

    .texto {
        padding: 1rem;
    }

    .infoPaneles {
        font-size: 1.3rem;
        margin: 1.5rem;
    }

    .energiaSolar {
        margin-top: 6rem;
    }

    .queEs {
        font-size: 3rem;
    }

    .energiaSolarInfo {
        padding: 2rem;
        font-size: 1.3rem;
    }

    .imgWhats {
        width: 4rem;
        height: 4rem;
    }
}

  